<div class='error_page'>
  <%= image_tag "error-404.jpg" %>
  <h2>Wherediditgo? This page doesn't exist!</h2>
  <p>The page you are requesting was not found! Maybe this page was removed? Maybe it never existed? Maybe it...</p>  
</div>

<!-- Thank you http://Astuteo.com/404 for 'letting' me rip the 404 image :) -->
