<h2>O Hai!</h2>
<p>You've reached a snippet repository! This website main focus is to be a social code wiki of sorts.</p>

<h3>Use Case</h3>
<p>
  Say you are working on a website or whatever, and you keep getting an error that you can't figure out. Instead of passing code back and forth
  on AIM or Tonic, you can paste the code in here and share it with whoever.
</p>
<p>
  The other people can then edit your code and re-share it with you. When you are done, you can either let the snippet hang out, or delete it.
</p>

<h3>Usage</h3>
<ol>
  <li><%= link_to 'add a new snippet', '/new' %></li>
  <li>
    Name the snippet with <strong>THE APPROPRIATE EXTENSION<sup><a href='#supported_extensions'>?</a></sup></strong> for syntax highlighting
    <ul>
      <li><em>&quot;problematic.css&quot;</em> as a title will highlight the snippet as <strong>CSS</strong></li>
      <li><em>&quot;nothing_works.js&quot;</em> as a title will highlight the snippet as <strong>JavaScript</strong></li>
      <li>etc.</li>
    </ul>
  </li>
  <li>Paste in your code.</li>
  <li>Pass around the link.</li>
  <li>Edit your snippet</li>
  <li>View the history of the snippet</li>
  <li>Revert to a previous version of the snippet</li>
  <li>...</li>
  <li>Profit!</li>
</ol>

<a name='supported_extensions'></a>
<h3>Supported Extensions</h3>
<p>The following extensions have syntax highlighting available</p>
<ul>
  <li>Bash <small>(.sh, .bash, .shell)</small></li>
  <li>CSS <small>(.css)</small></li>
  <li>Diff / Patches <small>(.diff, .patch)</small></li>
  <li>Java <small>(.java)</small></li>
  <li>JavaScript <small>(.js, .javascript, .jscript)</small></li>
  <li>C / CPP <small>(.c, .cpp)</small></li>
  <li>Objective-C <small>(.objc, .m, .o)</small></li>
  <li>Perl <small>(.pl, .perl)</small></li>
  <li>Python <small>(.py, .python)</small></li>
  <li>Ruby <small>(.rb, .ruby, .rails, .ror)</small></li>
  <li>SQL <small>(.sql)</small></li>
  <li>XML / HTML <small>(.xml, .html, .xhtml)</small></li>
</ul>